streamlit
jax
jaxlib
plotly
numpy
scikit-learn
pandas
requests
beautifulsoup4
lxml
spacy
robotexclusionrulesparser
nest_asyncio
httpx
transformers
textblob
# Optional: Only if you use polars, gradio, matplotlib, seaborn
polars
gradio
matplotlib
seaborn
